
<!-- [s567] scratch paper for page -->
<!--
<h1> Lobby: <%= @lobby.name %> </h1>
<h6> Lobby hash: </h6><%= @lobby.as_json %>
<h6> Teacher who created the lobby: </h6><%= @lobby.teacher.as_json %>
<h6> Students inside the lobby: </h6><%= @lobby.students.as_json %>
<h6> What game is being played inside this lobby: </h6><%= @lobby.game.as_json %>
<h6> What teams are playing inside this lobby: </h6><%= @lobby.teams.as_json %>
-->
<!-- <input type="button" value="PLAY"  onclick="playGlass()"> -->
<!-- [/s567] scratch paper for page -->


<!-- [axmr] list of audio needed for this page, uncomment to play sound -->
<!-- <audio id="openingTheme" src="/assets/glass.mp3" ></audio> -->
<!-- [/axmr] list of audio needed for this page -->

<!-- List all lobbies -->

<!-- load the stylesheetsandscripts -->
<% content_for :stylesheetsandscripts do %>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="cssgrids/normalize.css" />
	<link rel="stylesheet" type="text/css" href="cssgrids/demo.css" />
	<link rel="stylesheet" type="text/css" href="cssgrids/component.css" />
	<script src="jsgrids/snap.svg-min.js"></script>
<% end %>

<center><p class="cute-header"> active lobbies </p></center>

<section id="grid" class="grid clearfix">
	<% Lobby.all.each do |l| %>
		<%= link_to inlobby_lobbies_path(controller: "lobbies", action: "inlobby", game_id: l.game_id, lobby_id: l.id), {method: :post, data_path_hover: "m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z"} do %>
				<div>
				<figure>
					<img src="imggrids/<%=rand(1..8)%>.png" />
					<svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z"/></svg>
					<figcaption>
						<h2 class="cute-p"><%= l.name %></h2>
						<p>Click on this card to join this lobby. Play a game of <%= l.game.name %> prepared by Professor <%= l.teacher.first_name %></p>
						<!-- <button>View</button> -->
					</figcaption>
				</figure>
				</div>
		 <% end %>
	<% end %>
</section>

<script>
  (function() {

    function init() {
      var speed = 330,
        easing = mina.backout;

      [].slice.call ( document.querySelectorAll( '#grid > a' ) ).forEach( function( el ) {
        var s = Snap( el.querySelector( 'svg' ) ), path = s.select( 'path' ),
          pathConfig = {
            from : path.attr( 'd' ),
            to : el.getAttribute( 'data_path_hover' )
          };

        el.addEventListener( 'mouseenter', function() {
          path.animate( { 'path' : pathConfig.to }, speed, easing );
        } );

        el.addEventListener( 'mouseleave', function() {
          path.animate( { 'path' : pathConfig.from }, speed, easing );
        } );
      } );
    }

    init();

  })();
</script>

LOGGED IN AS: <%= if student_signed_in? then current_student.as_json end%>
