<%= hidden_field_tag "student-cookie", current_student.id, { :id => "student-cookie" } %>

<!-- load the stylesheetsandscripts -->
<% content_for :stylesheetsandscripts do %>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/cssdrag/normalize.css" />
  <link rel="stylesheet" type="text/css" href="/fontsdrag/font-awesome-4.2.0/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="/cssdrag/demo.css" />
  <link rel="stylesheet" type="text/css" href="/cssdrag/bottom-area.css" />
  <script src="/jsdrag/modernizr.custom.js"></script>
  <script src="/jsdrag/draggabilly.pkgd.min.js"></script>
	<script src="/jsdrag/dragdrop.js"></script>
	<!-- for the font -->
	<link rel="stylesheet" type="text/css" href="/cssgrids/demo.css" />
	<!-- for the buttons -->
	<link rel="stylesheet" type="text/css" href="/cssbuttons/normalize.css" />
	<link rel="stylesheet" type="text/css" href="/cssbuttons/vicons-font.css" />
	<link rel="stylesheet" type="text/css" href="/cssbuttons/base.css" />
	<link rel="stylesheet" type="text/css" href="/cssbuttons/buttons.css" />
<% end %>

<!-- Progress Bar -->

<div class="grid clearfix" align="center">
	<table width="100%">
		<tr>
			<td width="10%">
				<%= current_student.first_name %>
			</td>
			<td>
				<div id="myprogressbar" align="center"></div>
			</td>
		</tr>

		<% a = Student.where(lobby_id: current_student.lobby_id).where.not(id: current_student.id).where(team_id: current_student.team_id) %>
		<% a.each do |a| %>
			<tr>
				<td>
					<%= a.first_name %>
				</td>
				<td>
					<div id="<%=a.id.to_s%>" class="teambars" align="center"></div>
				</td>
			</tr>
		<% end %>
	</table>
</div>
<br/>

<div id="grid" class="grid clearfix" align="center" border="1px">
	<div id="questionPane" align="center">
		<font class="cute-question-number">
			question #
			<%=
			Link.where(game_id: @game_to_play).
												where(team_id: current_student.team_id).
												where(player_number: current_student.player_number).
												where(series: @series)[0].series
			%>
		</font>
		<br/>
		<font class="cute-header-formal">
		  <%=
		  Question.find(
		  Link.where(game_id: @game_to_play).
		                    where(team_id: current_student.team_id).
		                    where(player_number: current_student.player_number).
		                    where(series: @series)[0].question_id

		  ).content
		  %>
		</font>
	</div>
</div>

<div id="grid" class="grid clearfix" align="center">

		<div class="tutorialPane" align="center" firstdrag="0" firstfull="0" firstsubmit="0">
			<p class="cute-tooltip">
				To answer the question<br/>
				drag the colored boxes below to make a combination <br/>
				or scan your objects via NFC
			</p>
		</div>

</div>

<!-- what should be colored boxes -->
<div id="grid" class="grid clearfix" align="center">
					<div class="grid__item" id="green" mycolor="#1ca82f"><i class="fa fa-star-o"></i></div>
					<div class="grid__item" id="blue"><i class="fa fa-star-o"></i></div>
					<div class="grid__item" id="red"><i class="fa fa-star-o"></i></div>
					<div class="grid__item" id="orange"><i class="fa fa-star-o"></i></div>
					<div class="grid__item" id="black"><i class="fa fa-star-o"></i></div>
					<div class="grid__item" id="violet"><i class="fa fa-star-o"></i></div>
					<div class="grid__item" id="torquoise"><i class="fa fa-star-o"></i></div>
					<div class="grid__item" id="pink"><i class="fa fa-star-o"></i></div>

<!--
					<div class="grid__item" hidden ><i class="fa fa-fw fa-image"></i></div>
					<div class="grid__item" hidden ><i class="fa fa-fw fa-image"></i></div>
					<div class="grid__item" hidden ><i class="fa fa-fw fa-image"></i></div>
					<div class="grid__item" hidden ><i class="fa fa-fw fa-image"></i></div>
					<div class="grid__item" hidden ><i class="fa fa-fw fa-image"></i></div>
				-->
</div>

<input type="text" class="answerText" value="" hidden>

<!-- drop area and drop overlay -->
<div id="drop-area" class="drop-area">
  <div>
		<p id="tutorialPane2" class="cute-tooltip">
			Arrange the colors here
		</p>
		<div>
			<input
				type="button"
				class="answerButton"
				value="Submit!"
				series="<%=@series%>"
				game_id="<%=current_student.game_id%>"
				team_id="<%=current_student.team_id%>"
				player_number="<%=current_student.player_number%>"
				hidden
			>
		</div>
    <div class="drop-area__item" id="first" ans="0"></div>
    <div class="drop-area__item" id="second" ans="0"></div>
    <div class="drop-area__item" id="third" ans="0"></div>
    <div class="drop-area__item" id="fourth" ans="0"></div>
  </div>
</div>
<div class="drop-overlay"></div>

<div id="teamprogress">
	<%=
	a = Student.where(lobby_id: current_student.lobby_id).where.not(id: current_student.id)
	a.each do |a|
		a.as_json
	end
	%>
</div>
<div id="allprogress"></div>

LOGGED IN AS: <%= if student_signed_in? then current_student.as_json end%>
GAME: <%= @game_to_play %>
SERIES: <%= @series %>


<!-- Script for my progress bar -->
<script>
	$(function() {

				// highlight the instructions onloac
				$(".tutorialPane").effect("pulsate", 1000);
				$(".tutorialPane").effect("highlight", 1000);

        $("#myprogressbar").progressbar({
                value: 1
        });
				// $("#myprogressbar").css({ 'background': 'green' });
				$("#myprogressbar").height(20);

				// init team bars
				$(".teambars").progressbar({
					value: 1,
				});
				$(".teambars").height(20);
  });
</script>

<!-- Script for NFC Scan -->
<script>
	// upon NFC scan

	function passNFC(tag){
		console.log("NFC!");
		// scan NFC value in the format A,B,C,D and put it in Array
		var array = tag.split(',');
		// concatenate the array and store it in answerText
		nfcans = "";
		for (s of array){
			nfcans += s;
		}
		// alert(nfcans);
		// set this concatenated answer as the new value of answerText
		$(".answerText").val(nfcans);

		$('.drop-area__item').each(function(i, obj) {
			$(this).css("background-color", $("#" + array[i]).css("background-color"));
		});

		// set full to true
		full = true;

		// show dropArea
		var dropArea = document.getElementById( 'drop-area' );
		classie.add( dropArea, 'show' );
		$('.answerButton').show();

	}
</script>

<!-- drag script for color boxes -->
<script>
  (function() {
    var body = document.body,
      dropArea = document.getElementById( 'drop-area' ),
      droppableArr = [], dropAreaTimeout;

		full = false;

		// declare full as false upon onclick to body
		$('.drop-area').click(function() {
			// alert("h");
			if (full){
				full = false;
				classie.remove( dropArea, 'show' );
				$(".answerButton").hide();
			}
		});

		$('.answerButton').click(function(){
			if ($('.tutorialPane').attr("firstsubmit") == "0"){
				$('#tutorialPane2').html("");
				$('.tutorialPane').attr("firstsubmit","1");
			}
		});

    // initialize droppables
    [].slice.call( document.querySelectorAll( '#drop-area .drop-area__item' )).forEach( function( el ) {
      droppableArr.push( new Droppable( el, {
        onDrop : function( instance, draggableEl ) {

          // output the container being dragged on to and the thing being dragged
          console.log(el.id);
          console.log(draggableEl.id);

          // change the color of the receiving drag panel to the color of the box being dragged
          $("#" + el.id).css("background-color", $("#" + draggableEl.id).css("background-color") );
          // change the ans property of the droppables for concatenation
					$("#" + el.id).attr("ans", $("#" + draggableEl.id).attr("id") );

          // generate a concatenated answer
					fans = ""
					$('.drop-area__item').each(function(i, obj) {
    				// console.log($(this).attr("ans"));
						fans += $(this).attr("ans");
					});
					console.log(fans);

					// set this concatenated answer as the new value of answerText
					$(".answerText").val(fans);

          // show checkmark inside the droppabe element
          classie.add( instance.el, 'drop-feedback' );
          clearTimeout( instance.checkmarkTimeout );
          instance.checkmarkTimeout = setTimeout( function() {
            classie.remove( instance.el, 'drop-feedback' );
          }, 800 );
          // ...

					// check if all droppables have been colored
					c = 0
					$('.drop-area__item').each(function(i, obj) {
    				// console.log($(this).attr("ans"));
						if ($(this).attr("ans") == '0'){
							c = c + 1;
						}
					});
					if (c < 1){
						console.log("full");
						full = true
					}

        }
      } ) );
    } );

    // initialize draggable(s)
    [].slice.call(document.querySelectorAll( '#grid .grid__item' )).forEach( function( el ) {
      new Draggable( el, droppableArr, {
        draggabilly : { containment: document.body },
        onStart : function() {
          console.log(el.id);
          $(".answerText").val(el.id);
          // add class 'drag-active' to body
          classie.add( body, 'drag-active' );
          // clear timeout: dropAreaTimeout (toggle drop area)
          clearTimeout( dropAreaTimeout );
          // show dropArea
          classie.add( dropArea, 'show' );

					// change value in tutorial pane
					if ($(".tutorialPane").attr("firstdrag") == "0"){
						// $(".tutorialPane").html("<p></p>");
						$(".tutorialPane").attr("firstdrag", "1");
					}
        },
        onEnd : function( wasDropped ) {
          var afterDropFn = function() {
            // hide dropArea
						if (!full){
            	classie.remove( dropArea, 'show' );
						}
						else{
							$(".answerButton").show();

							// edit tutorial pane during firt full
							if ($(".tutorialPane").attr("firstfull") == "0"){
								$("#tutorialPane2").html("Submit your color code to see if you found the correct object using the button below!<br/> or click anywhere in this yellow area to submit another combination");
								$(".tutorialPane").html("<p></p>");
								$(".tutorialPane").attr("firstfull", "1");
							}
						}
            // remove class 'drag-active' from body
            classie.remove( body, 'drag-active' );
          };

          if( !wasDropped ) {
            afterDropFn();
          }
          else {
            // after some time hide drop area and remove class 'drag-active' from body
            clearTimeout( dropAreaTimeout );
            dropAreaTimeout = setTimeout( afterDropFn, 400 );
          }
        }
      } );
    } );
  })();
</script>
