<%= hidden_field_tag "student-cookie", current_student.id, { :id => "student-cookie" } %>

LOGGED IN AS: <%= if student_signed_in? then current_student.as_json end%>
GAME: <%= @game_to_play %>
SERIES: <%= @series %>

<div id="questionPane">
  <%=
  Question.find(
  Link.where(game_id: @game_to_play).
                    where(team_id: current_student.team_id).
                    where(player_number: current_student.player_number).
                    where(series: @series)[0].question_id

  ).content
  %>
</div>

<input type="text" class="answerText" value="">
<input
  type="button"
  class="answerButton"
  value="Send!"
  series="<%=@series%>"
  game_id="<%=current_student.game_id%>"
  team_id="<%=current_student.team_id%>"
  player_number="<%=current_student.player_number%>"
>
