    <div id="drop-area" hidden>
      <div hidden>
        <div class="drop-area__item" hidden></div>
      </div>
    </div>

<!-- load the stylesheetsandscripts -->
<% content_for :stylesheetsandscripts do %>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/cssdrag/normalize.css" />
  <link rel="stylesheet" type="text/css" href="/fontsdrag/font-awesome-4.2.0/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="/cssdrag/demo.css" />
  <link rel="stylesheet" type="text/css" href="/cssdrag/bottom-area2.css" />
  <script src="/jsdrag/modernizr.custom.js"></script>
  <script src="/jsdrag/draggabilly.pkgd.min.js"></script>
	<script src="/jsdrag/dragdrop.js"></script>

<% end %>

<% for x in @questions do %>
  <%= x.content %>
<% end %>

<br/>
<input type='text' id='gameid' placeholder="Give your game a unique id if you want">
<input type='text' id='gamename' placeholder="Name your game">
<input type='text' id='teams' value='3'>
<input type='text' id='ppteam' value='3'>
<input type='text' id='questions' value='3'>
<input type='text' id='search' placeholder="search">
<input type='button' class='generateButton' id='generateButton' value="generate!">
<input type='button' class='saveGameButton' id='saveGameButton' value="Save Game">

<div id="checker">
</div>

<table width="90%" height="600px" align="center">
  <tr>
    <!-- td to hold graphs -->
    <td width="80%" bgcolor="#01FF0000" valign="top">
      <div id="generationPane">
      </div>
    </td>
    <!-- td to hold questions -->
    <td width="20%" bgcolor="#FFFF00" valign="top">
      <table id="searchtable" border="1px">
        <!-- <div id="grid"> -->
          <% for x in @questions do %>
            <tr>
              <td>
                <div id="grid">
                <div class="grid__item" qid="<%=x.id%>" title="<%=x.content%>" content="<%=x.content%>" > <%= x.content[0..50].gsub(/\s\w+\s*$/, '...') %> </div>
                </div>
              </td>
            </tr>
          <% end %>
        <!-- </div> -->
      </table>
    </td>
  </tr>
</table>

<!--
<div id="drop-area">
	<div>
		<div class="drop-area__item"><div class="dummy"></div></div>
	</div>
</div>
    <div id="grid">
    	<div class="grid__item"><i class="fa fa-fw fa-image"></i> This is a sample question </div>
    </div>
<div class="drop-overlay"></div>
-->

<script>
  (function() {
    $.getScript("/jsdrag/dynamic.js")
  })();
</script>
