    <div id="drop-area" hidden>
      <div hidden>
        <div class="drop-area__item" hidden></div>
      </div>
    </div>

<!-- load the stylesheetsandscripts -->
<% content_for :stylesheetsandscripts do %>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/cssdrag/normalize.css" />
  <link rel="stylesheet" type="text/css" href="/fontsdrag/font-awesome-4.2.0/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="/cssdrag/demo.css" />
  <link rel="stylesheet" type="text/css" href="/cssdrag/bottom-area2.css" />
  <script src="/jsdrag/modernizr.custom.js"></script>
  <script src="/jsdrag/draggabilly.pkgd.min.js"></script>
	<script src="/jsdrag/dragdrop.js"></script>

<% end %>

<div id="overlay"></div>

<div class="container" style="position:relative;">
  <div id="questioncheck" hidden>
    <% for x in @questions do %>
      <%= x.content %>
    <% end %>
  </div>

    <table id="configuration" width="90%" align="left" border="0px" class="expose" style="margin: 20px 150px 10px 70px;">
      <tr>
        <td width="25%">
          Give your game a name:
        </td>
        <td>
          <input type='text' id='gamename' placeholder="Name your game">
        </td>
      </tr>

      <tr>
        <td>
          How many teams do you want to have?
        </td>
        <td>
          <input type='text' id='teams' placeholder='3'>
        </td>
      </tr>

      <tr>
        <td>
          How many players per team?
        </td>
        <td>
          <input type='text' id='ppteam' placeholder='3'>
        </td>
      </tr>

      <tr>
        <td>
          How many questions per student?
        </td>
        <td>
          <input type='text' id='questions' placeholder='3'>
        </td>
      </tr>

      <tr>
        <td>

        </td>
        <td>
          <input type='button' class='generateButton' id='generateButton' value="generate!">
          <input type='button' class='saveGameButton' id='saveGameButton' value="Save Game">
        </td>
      </tr>

      <input type='text' id='gameid' value="<%= Link.maximum(:game_id).next %>" hidden>

    </table>

  <div id="checker">
  </div>

  <table id="generationPaneTable" width="70%" height="600px" align="left">
    <tr>
      <!-- td to hold graphs -->
      <td bgcolor="#01FF0000" valign="top">
        <div id="generationPane">
        </div>
      </td>
    </tr>
  </table>

  <div id="questionsPane" class=".fixed-div expose" style="padding: 10px; position: fixed; right: 0px; top: 0px; background-color: red;">
    <input type='text' id='search' placeholder="search">
    <table id="searchtable" border="1px">
      <!-- <div id="grid"> -->
        <% for x in @questions do %>
          <tr>
            <td>
              <div id="grid">
              <div class="grid__item" qid="<%=x.id%>" title="<%=x.content%>" content="<%=x.content%>" > <%= x.content[0..50].gsub(/\s\w+\s*$/, '...') %> </div>
              </div>
            </td>
          </tr>
        <% end %>
      <!-- </div> -->
    </table>
  </div>
</div> <!-- container -->

<!--
<div id="drop-area">
	<div>
		<div class="drop-area__item"><div class="dummy"></div></div>
	</div>
</div>
    <div id="grid">
    	<div class="grid__item"><i class="fa fa-fw fa-image"></i> This is a sample question </div>
    </div>
<div class="drop-overlay"></div>
-->

<script>
  (function() {
    $.getScript("/jsdrag/dynamic.js")

    /*
    $('.expose').click(function(e){
        $(this).css('z-index','99999');
        $('#overlay').fadeIn(300);
    });
    */
    /*
    var tutst = 0;
    $("#configuration").css('z-index','99999');
    $('#overlay').fadeIn(300);

    $('#overlay').click(function(e){
      tutst = tutst + 1;
      alert(tutst);
      if (tutst == 1){
        $('#overlay').fadeOut(300, function(){
            $('#configuration').css('z-index','1');
        });
        $('#overlay').fadeIn(300);
        $("#generationPaneTable").css('z-index','99999');
      }
      else if (tutst == 2){
        $('#overlay').fadeOut(300, function(){
            $('#generationPaneTable').css('z-index','1');
        });
        $('#overlay').fadeIn(300);
        $("#questionsPane").css('z-index','99999');
      }
      else{
        $('#overlay').fadeOut(300, function(){
            $('#questionPane').css('z-index','1');
        });
      }
    });
    */
    /*
    $('#overlay').click(function(e){
        tutst = tutst + 1;
        $('#overlay').fadeOut(300, function(){
            $('.expose').css('z-index','1');
        });
        if (tutst == 1){
          $('#overlay').fadeIn(300);
          $("#generationPaneTable").css('z-index','99999');
        }
    });
    */


  })();
</script>
