<!DOCTYPE html>
<html>
<head>
  <title>Thesis</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <!--
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="css/demo.css" />
	<link rel="stylesheet" type="text/css" href="css/component.css" />
	<script src="js/snap.svg-min.js"></script>
-->

  <%= csrf_meta_tags %>
</head>
<!--<body onload="playOpeningTheme()">-->
<body>
<h6> page banner </h6>

<%= link_to "Sign_up", new_student_registration_path, :method => :get %>
<%= link_to "Sign_in", new_student_session_path, :method =>:get %>
<%= link_to "Sign_out", destroy_student_session_path, :method => :delete %>
<%= link_to "students", students_path, :method => :get %>


<!-- required by devise -->
<p class="notice"><%= notice %></p>



<%= yield %>
<h6> page footer </h6>
</body>
</html>
