<!DOCTYPE html>
<html>
<head>
  <title>Thesis</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= yield :stylesheetsandscripts %>
  <%= csrf_meta_tags %>
</head>
<!--<body onload="playOpeningTheme()">-->
<body background="/imggrids/bg.jpg" class="booty">
  <h1></h1>
<table width="70%" align="center">
  <tr>
    <td>
      <% if student_signed_in? then %>
        <font class="cute-p"> Hello there, <%= current_student.first_name %> </font><br/>
        <!-- required by devise -->
        <p class="notice cute-p"><%= notice %></p>
      <% end %>
    </td>
    <td align="right">
      <%= link_to "Sign_up", new_student_registration_path, {:method => :get, class: "cute-p"} %>
      <%= link_to "Sign_in", new_student_session_path, {:method => :get, class: "cute-p"} %>
      <%= link_to "Sign_out", destroy_student_session_path, {:method => :delete, class: "cute-p"} %>
    </td>
  </tr>
</table>







<%= yield %>
<h6> page footer </h6>
</body>
</html>
